*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

h1 {
    font-size: 5.5rem;
    font-weight: 700;
    color: var(--gray);
    text-align: center;
    padding-top: 5rem;
  }

.max-width{
  margin: auto;
  width: 80%;
}
@media only screen and (max-width: 1024px) {
    html {
     font-size: 60%;
    }
  
    h1 {
     font-size: 6rem;
    }
}
  
@media only screen and (max-width: 768px) {
    html {
      font-size: 58%;
    }
  
    .max-width {
      padding: 0 2rem;
    }
}
  
@media only screen and (max-width: 425px) {
    h1 {
      font-size: 3.0rem;
    }
}
  