/* formatação do body */
*{
    margin: 0%;
    padding: 0%;
}
body{
    margin: auto;
    width:  100%;
}
/* formatação do header */
header.header_flex_item{
    background-color:#363636;
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    padding: 2% 20%;
}

.logo_flex_item{
    min-width: 10px;
    max-width: 500px; 
    width: 100%;
}
/* main */
body{
    font-family: calibri, Times, serif;
    font-size: large;
}
.main_topo_flex{
    margin: auto;
    width:  80%;
}
.main_topo_article_title{
    padding: 2%;
    color: #363636;
    font-size: clamp(1em, 1.5em + 1.5vw, 3em);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    text-align: center;
    line-height: 150%;
}
.main_topo_article_content{
    padding: 2%;
    color: #363636;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;   
}
.main_topo_div{
    padding: 0px 30px;
    min-width: 200px;
    max-width: 300px;
    text-align: justify;
    
  
}
.main_topo_div_titles{
    padding: 10% 0%;
    display: flex;
    flex-wrap: row wrap;
}
.title_color{
    color: greenyellow;
    padding-right: 5%;
}
.article_img_pc_item{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}
.pc_image_item_di{
    flex: 0 0 auto;
    align-self: flex-start;
    padding-left: 10%;
}
.pc_image_item_es{
    flex: 0 0 auto;
    align-self: flex-end;
    padding-right: 10%;   
}
.article_img_pc_item img{
    height: 300px;
}
.image_curva{
    padding: 0%;
    margin: auto;
    width: 100%;
    vertical-align:  bottom;
}
.image_map{
    margin: auto;
    width: 100%;
    padding: 5% 0%;
}
.main_sobre{
    background-color: #ffcc5c;
}
.div_sobre{
    margin: auto;
    width: 90%;
}
.text_sobre{
    padding: 1% 10%;
    margin: auto;
    width: 80%;
    text-align: center;
    color: #363636;
}
.main_locais{
    background-color: #e7ff6e;
}
.section_finish{
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    padding: 0% 20%;
    padding-bottom: 10%;
 }
 .logo_min{
    width: 120px;
    
 }
.creditos{
    text-align: center;
    padding-top: 2%;
 }

.creditos > p{
    content: '\\00A9';
}

footer{
    background-color: #363636;
    color: white;
}

.color_team{
    text-decoration: none;
    color: #ffcc5c;
}