.about{
    background-color: var(--orange);
}

.wave__about__one{
    min-height: 1rem;
    width: 100%;
    position: relative;
    background-color: var(--light-tertiary-color);
}
.wave__about__two{
    min-height: 1rem;
    width: 100%;
    position: relative;
    background-color: var(--green-weak);
}