.about{
    background-color: var(--orange);
}
.about h1{
    padding: 4rem 0 6rem 0;
}
.waves__about{
    min-height: 1rem;
    width: 100%;
    position: relative;
    background-color: var(--light-tertiary-color);
}