.about{
    background-color: var(--orange);
}

.waves{
    min-height: 1rem;
    width: 100%;
    position: relative;
}
.wave__about__two{
    min-height: 1rem;
    width: 100%;
    position: relative;
    background-color: var(--green-weak);
}