.footer{
    background-color: var(--green-weak);
    text-align: center;

}
.footer .footer__image{
    padding: 4rem 0 4rem;
}
.footer .footer__image img{
    width: 20rem;
}

.footer .footer__copyright{
    padding-bottom: 2rem;
}
.footer .footer__copyright a{
    padding: 1rem;
}
.footer .footer__copyright a:hover{
    color: var(--orange);
}