header{
    background-color: var(--light-tertiary-color);
    scroll-margin-top: 20rem;
    gap: 4rem;
}
.header .header__content{
    text-align: center;
}
.header .header__content ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}
.header .header__content ul li .skills__title h3{
    display: inline-block;
}
.header .header__content ul li .skills__title .title__color{
    color: var(--green-color);
}
.header .header__image{
    display: flex;
    justify-content: space-between;
    padding: 8rem;
}
.header .header__image aside{
    align-items: center;
    padding: 0 10rem;
}
.header .header__image aside img{
    width: 20rem;
    
}
.wave__main{
    min-height: 1rem;
    width: 100%;
    position: relative;
    background-color: var(--orange);
}
.header .header__title{
    padding-top: 10rem;
    padding-bottom: 10rem;
}

@media only screen and (max-width: 768px){
    .header .header__image{
        flex-direction: column;
        align-items: center;
        padding: 4rem 0;
    }
    .header .header__content ul li{
        flex-direction: column;
        align-items: center;
        padding: 2rem 4rem;
    }
    .header .header__title{
        padding-top: 3rem;
        padding-bottom: 0;
    }
    
}