.header .header__content{
    text-align: center;
    padding: 3rem 4rem;
}

.header .header__content ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.header .header__content ul li .skills__title h2{
    display: inline-block;
}

.header .header__content ul li .skills__title .title__color{
    color: var(--green-color);
}