.navbar{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--gray);
    margin: auto;
}

.navbar .navbar__image{
    width: 30rem;
    padding: 1rem 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}