.navbar{
    background-color: var(--gray);
}
.navbar .navbar__image{
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 10;
}
.navbar .navbar__image img{
    width: 30rem;
    padding: 1rem 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}